{% extends "paciente/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
    <div>
        <h1>Resumen del Sistema</h1>
        <h3>Pacientes en el sistema: {{ cantidadpacientes }}</h3>
        <h3>Pacientes con discapacidad Motora: {{ pacientesmotora }}</h3>
        <h3>Pacientes con discapacidad Visual: {{ pacientesvisual }}</h3>
        <h3>Pacientes con discapacidad Auditiva: {{ pacientesauditiva }}</h3>
        <h3>Pacientes entre 0 y 12 años: {{ pacientes12 }}</h3>
        <h3>Pacientes entre 13 y 17 años: {{ pacientes17 }}</h3>
        <h3>Pacientes mayores de 18 años: {{ pacientesinf }}</h3>
    </div>
    <br/>
    <h2>LISTADO DE PACIENTES</h2>
    <div>
        <table>
            <tr>
                <th>NOMBRES</th>
                <th>APELLIDOS</th>
                <th>F. NAC.</th>
                <th>EDAD</th>
                <th>ANAMNESIS</th>
                <th>SOCIAL</th>
                <th>HABILIDADES</th>
            </tr>
            {% for data in listapacientes %}
            <tr>
                <td>{{ data.paciente.nombres }}</td>
                <td>{{data.paciente.apellidos}}</td>
                <td>{{data.paciente.fnac}}</td>
                <td>{{data.edad}}</td>
                <td>{{data.Anamnesis}}</td>
                <td>{{data.Area_Social}}</td>
                <td>{{data.Habilidades_Basicas}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent actions' %}</h2>
        <h3>{% trans 'My actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}
