{% extends "paciente/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'admin/css/dashboard.css' %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
    <h1>Ejecucion de Test para pacientes</h1>
    <h2>LISTADO DE PACIENTES</h2>
    <div>
        <table>
            <tr>
                <th>NOMBRES</th>
                <th>APELLIDOS</th>
                <th>F. NAC.</th>
                <th>Test Motoro</th>
                <th>Test Auditivo</th>
                <th>El otro test</th>
            </tr>
            {% for data in listapacientes %}
            <tr>
                <td>{{ data.nombres }}</td>
                <td>{{data.apellidos}}</td>
                <td>{{data.fnac}}</td>
                <td><a class="btn" href="{% url 'test_usuarios_ejemplo' %}"/>Iniciar Test Motor</td>
                <td><a class="btn" href="{% url 'admin:index' %}"/>Iniciar Test Auditivo</td>
                <td><a class="btn" href="{% url 'admin:index' %}"/>Iniciar Test otro</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent actions' %}</h2>
        <h3>{% trans 'My actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}
